{% extends "base.html" %}
{% load static %}
{% block title %}Free Tips{% endblock %}
<link rel="stylesheet" href="{% static 'flags/sprite.css' %}">
<style>
    tbody tr:nth-child(odd) {
        background-color: #ffffff;
      }
      
      tbody tr:nth-child(even) {
        background-color: #868686;
      }
</style>
{% block content %}
    <div>
        {% include 'include/toggles.html' %}
        <hr>
        <div class="flex justify-between my-2">
            <p class="px-6 py-3 bg-{{settings.theme}}-500 text-white"><a href="{% if prev and free_tips %}{{ prev }}{% else %} javascript:void(0) {% endif %}">prev</a></p>
            <p>{{ page_date }}</p>
            <p class="px-6 py-3 bg-{{settings.theme}}-500 text-white"><a href="{% if next %}{{ next }}{% else %} javascript:void(0) {% endif %}">next</a></p>
        </div>
        <hr>
        <table>
            <thead>
                <th colspan="3"></th>
                <th class="hidden md:block" ></th>
                <th colspan="3" class="hidden md:block">Odds</th>
                <th>Tips</th>
            </thead>
            <tbody>
                {% for tip in free_tips %}
                    <tr>
                        <td><img src="{{ tip.0}}" alt=""></td>
                        <td class="hidden md:inline-block">{{tip.1}}</td>
                        <td>{{ tip.4 }}</td>
                        <td>{{tip.2}}</td>
                        <td class="hidden md:inline-block">{{tip.5}}</td>
                        <td class="hidden md:inline-block">{{tip.6}}</td>
                        <td class="hidden md:inline-block">{{tip.7}}</td>
                        <td>{{tip.3}}</td>
                    </tr>
                  {% empty %}
            </tbody>
                <p>No predictions</p>
            {% endfor %}
        </table>
    </div>
    <script>
        function notifyLogin()
        {
            alert("login first")
        }
    </script>
{% endblock %}