{% extends "base.html" %}
{% load static %}
{% block title %}Free Tips{% endblock %}
{% block content %}
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <p {% if message.tags %} class="{{ message.tags }}"{% endif %}>
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
            {{ message.tags }}
            {{ message }}
        </p>
    {% endfor %}
    </ul>
    {% endif %}
    {% if user.is_authenticated %}
    <p>Welcome {{ user.username}}</p>
    <p><a href="{% url 'logout' %}" class="">logout</a></p>
    {% else %}
    <form method="post" action="{% url 'login-view' %}">
        {% csrf_token %}
        {{ login.as_p }}
        <input type="submit" value="Login">
    </form>
    <form method="post" action="{% url 'signup-view' %}">
        {% csrf_token %}
        {{ sign_up.as_p }}
        <input type="submit" value="Save">
    </form>
    {% endif %}
    {% for tipster in tipsters %}
    <div>
        <img src="{{ tipster.country.flag }}" alt="">
        <p>{{ tipster.country.name }}</p>
        <p>{{ tipster.name }}</p>
        <a href="{% if user.is_authenticated %}{% url 'payment' %} {% else %}#{% endif %}" {% if user.is_anonymous %}onclick="notifyLogin()"{% endif %}>Subscribe</a>
        <a href="{{ tipster.get_absolute_url }}">view more</a>
    </div>
    {% endfor %}
{% endblock %}